@font-face {
    font-family: 'Vazir';
    src: url('@/assets/fonts/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('@/assets/fonts/Vazir-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}